- if notice
  %p.alert.alert-success
    = notice
    %span.pull-right
      %a.close{data: { dismiss: "alert" }, href: "#"} ×
- if alert
  %p.alert.alert-danger
    = alert
    %span.pull-right
      %a.close{data: { dismiss: "alert" }, href: "#"} ×
